.p {
    color : gray ;
    background-color: black;
    font-size: 25px;
    border: solid 3px;
    padding: 20px;
    margin: 1vw auto;
    width: 50%;
    text-align: justify;
}
.h3 {
    color : gray ;
    background-color: black;
    padding: 2px;
    box-shadow: 0 0 30px 0;
    border-top: solid gray;
    border-bottom: solid gray;
    font-size: 60px;
    margin: 1vw auto;
    width: 50%;
}
.h4 {
    color: gray;
    border-top: solid gray;
    border-bottom: solid gray;
    font-size: 35px;
}
.h1 {
    color:gray;
}
